:root.dark {
    --text: #dcdcdc;
    --text-2: #afafaf;
    --primary: #5ace82;
    --primary-dark: #50b874;
    --secondary: #417972;
    --accent: #7abbc2;
    
    --background: #252525;
    --foreground: #302f2f;
    --border: #212121;
    --border-2: #dfdfdf;
    --footer: #151515;
    
    --copy-light: #666666;
    
    --error: #d72121;
    --error-content: #fef9f9;
  
    --image-filter: invert(1);
  
    --label: #454545;
    --star-filled: #f2c94c;
    --star-empty: #e4e4e4;
  }
  




  