.navbar {
	background-color: #63d471;
	height: 85px;
	display: flex;
	padding: 1rem;
	position: sticky;
	top: 0;
	overflow: hidden;
	width: 100%;
	justify-content: space-between;
  }
  
  .navbar-nav {
	list-style: none;
	padding: 0;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	
  }
  
  .nav-item {
	margin-right: 1rem;
  }

  .navbar-nav:last-child{
	margin-left: auto;
  }

  
  .nav-link {
	color: #fff;
	text-decoration: none;
  }
  
  .nav-link:hover {
	text-decoration: underline;
}
#nav-logo{
	width: '50px';
	margin-right: '10px'; 
}