.navbar {
	background-color: #63d471;
	height: 120px;
	display: flex;
	position: sticky;
	top: 0;
	overflow: hidden;
	width: 100%;
	justify-content: space-between;
  }
  
  .navbar-nav {
	padding: 1rem;
	list-style: none;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
  }
  
  .nav-item {
	margin-right: 1rem;
	display: inline-block;
	text-align: center;
	text-decoration: none;
  }

  /*.navbar-nav:last-child{
	margin-left: auto;
  }*/

  
  .nav-link {
	color: black;
	text-decoration: none;
  }
  
.nav-link:hover {
	color: white;
}

.nav-text{
	text-decoration: none;
}
.nav-logo{
	/*fill: blue;*/
}
.nav-logo:hover,
.nav-logo:focus{
	/*
	filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(150deg) brightness(104%) contrast(97%);
	*/
	filter: invert(100%);
	/*filter: brightness(50%);
	filter: hue-rotate(100deg);
	fill: hotpink;*/


}