.advertContainer {
	display: flex;
	justify-content: center; /* Center the image horizontally */
	overflow: hidden;
	margin: 20px;
	position: sticky;
	top: 170px;
	flex-shrink: 0;
	
  }
  
  .advertContainer .img {
	height: 70vh;
	aspect-ratio: 4/15;
	object-fit: cover;
  }



  
@media only screen and (max-width: 767px) {
	.advertContainer {
	
		top: 16vh;
	}
  }
  