#advertContainer {
	min-height: 100vh;
	top: 160px;
	position: sticky;
	display: block;
	width: 160px;
	margin-right: 20px;

	img{
		width: 160px;
		height: 100%;
		overflow: hidden;
		object-fit: cover;

	}

}