.myPageContainer {
  max-width: 1000px;
  display: flex;
}

.divBox {
  flex: 1;
  padding: 20px;
  background-color: lightgray;
}

.myPageContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.divMypage {
  text-align: center;
  border: 1px solid #bdb5b5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.profile-image {
  width: 80%;
  max-width: 200px;
  border: 2px solid #545452;
  border-radius: 50%;
  margin: 20px auto;
}

.staredPlaces {
  flex: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.staredPlaces h1 {
  text-align: center;
  width: 100%;
}

hr {
  width: 80%;
}

/** Media query for small screens */
@media only screen and (max-width: 600px) {
  .myPageContainer {
    flex-direction: column;
  }

  .divBox,
  .staredPlaces {
    padding: 20px;
  }

  .profile-image {
    width: 100%;
    max-width: 70%;
  }
}
