.homeContainer {
  background-color: var(--background);
  width: 100%;
  display: flex;
  /*her skal det endres
  flex-direction: column;
    align-items: center;*/
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  position: relative;

  .homeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    width: 70vw;
    padding-top: 20px;

  }


  .destinations {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 0 20px;

  }

 

  .destLink {
    justify-content: center;
    font-size: larger;
    height: 50%;
    width: 100%;
    display: flex;
    margin: 0;
    color: var(--text);
  }

  .dest1 {
    align-items: flex-end;
  }

  .oneDestination{
    min-width: 250px;
    width: 100%;
    flex: 1;
    height: 200px;
  }

  .destAnchor {
    border: 2px solid var(--border);
    border-radius: 10px;
    display: block;
    background-color: var(--foreground);
    width: 100%;
    height: 100%;
    text-decoration: none;
    box-shadow: 0px 0px 15px 0px var(--border);
  }

  .searchBox {
    background-color: var(--foreground);
    width: 50%;
    max-width: 500px;
    min-width: 280px;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px var(--border);
    border-radius: 10px;
    border: 2px solid var(--border);
    position: sticky;
    top: 160px;
    z-index: 100;
  }
  
  .searchField {
    border: none;
    border: 1px solid var(--primary);
    height: 30px;
    width: 100%;
    border-radius: 5px;
    padding: 0px 5px;
    background-color: var(--text-box);

    color: var(--text);
  }

  .noResults {
    font-weight: bold;
  }

  .filterCheckbox {
    color: var(--text);
 
    padding: 20px;
    z-index: 1;

    .MuiFormControl-root{
      display: flex;
      gap: 5px;
     
      align-items: center;
      
      .labelBox{
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }


    .checkbox:checked + .label{
      background-color: var(--primary)
    }

    
  }
  .checkbox{
    display: none;
  }

  .filterCheckbox label {
    background-color: var(--foreground);
    border-radius: 20px;
       border: 2px solid var(--border);

  }
  
  .labelBox{
    height: 45px;
    width: fit-content;
  }

  .filterCheckbox label:hover {
    background-color: var(--primary-dark);
    color: var(--text-3);
    cursor: pointer;
  }
}



@media only screen and (max-width: 767px) {
  .homeContainer {
    .searchBox {
      top: 16vh;
    }

  }
  .hiddenAdd{
    display: none;
  }
}
