.toggleSlider {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;




  input {
    display: none;
  }


  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    border-radius: 34px;
    border: 2px solid var(--border);
  }



  .slider:before {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: "🌞";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
  }


  input:checked+.slider {
    background-color: var(--primary-dark);
  }


  input:checked+.slider:before {
    transform: translateX(26px);
    content: "🌜";
  }
}